* {
    color: white;
}
.calculator .button {
    width: 35px;
    height: 45px;
    border: 0.5px solid black;
    padding: 0;
}
.calculator .button-zero {
    width: 100%;
}
.calculator {
    background-color: rgb(54, 52, 52);
    /*border: 1px solid gray;*/
    border-collapse: collapse;
    border-radius: 10px;
    box-shadow: 3px 4px 12px 2px black;   
}

.orange {
    background-color: orange;
}

.orange:active {
    background-color: rgb(177, 117, 6);
}

.dark-gray {
    background-color: rgb(161, 157, 157);
}

.dark-gray:active {
    background-color: rgb(204, 200, 200);
}

.light-gray {
    background-color: rgb(182, 179, 179);
}

.light-gray:active {
    background-color: rgb(223, 222, 222);
}

.border-radius-left {
    border-radius: 0 0 0 9px;
}

.border-radius-right {
    border-radius: 0 0 9px 0;
}

.alinear {
    display: flex;
    justify-content: flex-end;
    padding: 10px 14px 0 0;
    height: 30px;
}

.padding-zero {
    padding: 0;
}

.boton-redondo {
    background-color: red;
    border-radius: 50px;
    height: 20px; 
    width: 20px;
    border: none;
    color: red;
}
.boton-redondo:active {
    background-color: rgb(246, 88, 88);
}
.actions-buttons {
    padding: 5px 0 0 5px;
}

.boton-redondo2 {
    background-color: yellow;
    color: yellow;
}

.boton-redondo2:active {
    background-color: rgb(177, 177, 19);
}
.boton-redondo3 {
    background-color: rgb(7, 209, 7);
    color: rgb(7, 209, 7);
}

.boton-redondo3:active {
    background-color: green;
}

.text-color-black {
    color: black;
}
